@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.font-inter {
  font-family: var(--font-inter);
}

* {
  font-family: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;

  --primary: #5b31d1;
  --primary-foreground: #fcfcfc;

  --secondary: #f8f8f8;
  --secondary-foreground: #2f2f2f;

  --muted: #f8f8f8;
  --muted-foreground: #8e8e8e;

  --accent: #f8f8f8;
  --accent-foreground: #2f2f2f;

  --destructive: #db5b25;
  --destructive-foreground: #db5b25;

  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;

  --chart-1: #e1b228;
  --chart-2: #3bacc5;
  --chart-3: #4f68dd;
  --chart-4: #60b464;
  --chart-5: #f5b74b;

  --radius: 0.625rem;
  --form: var(--primary);
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #2f2f2f;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #2f2f2f;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #252525;
  --foreground: #fcfcfc;
  --card: #252525;
  --card-foreground: #fcfcfc;
  --popover: #252525;
  --popover-foreground: #fcfcfc;

  --primary: #6f45c8;
  --primary-foreground: #fcfcfc;

  --secondary: #444444;
  --secondary-foreground: #fcfcfc;

  --muted: #444444;
  --muted-foreground: #b5b5b5;

  --accent: #444444;
  --accent-foreground: #fcfcfc;

  --destructive: #a83e28;
  --destructive-foreground: #c1623d;

  --border: #444444;
  --input: #444444;
  --ring: #707070;
  --form: var(--primary);

  --chart-1: #8565ec;
  --chart-2: #5fb9c2;
  --chart-3: #f5b74b;
  --chart-4: #a582ff;
  --chart-5: #d26822;

  --sidebar: #2f2f2f;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #8565ec;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #444444;
  --sidebar-ring: #707070;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .techno-form-fields{
    @apply text-primary font-semibold;
  }

}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #5b31d1;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #5b31d1,
    0 0 5px #5b31d1;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

.border-box {
  border-color: #c1c1c1;
  border-radius: 10px;
  border-width: 1px;
}

.documentHeading {
  font-size: 15px;
  color: #5b31d1;
  font-weight: 600;
}

.documentMetaDataText {
  font-size: 13px;
  color: #666666;
  font-weight: 400;
}

.upload-materials-border-box {
  border-color: #e4e4e4;
  border-radius: 13px;
  border-width: 1px;
}

.editable-cell {
  border-color: #e4e4e4;
  border-radius: 5px;
  border-width: 1px;
}

.upload-materials-heading {
  font-size: 14px;
  color: #5f5f5f;
  font-weight: 500;
}

.btnLabelAdd {
  color: #5f5f5f;
  font-weight: 500;
}

.saveDataBtn {
  background: #5b31d1;
  color: #ffffff;
  font-weight: 600;
}

.saveDataBtn:hover {
  background-color: #481bc2;
  color: #ffffff;
  font-weight: 600;
}

.form-field {
  border-color: #e4e4e4;
  border-radius: 5px;
  border-width: 1px;
}

.form-field-label {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

.form-field-input-text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.form-field-input-init-text {
  color: #9d9d9d;
  font-weight: 400;
  font-size: 14px;
}

.upload-documents-icon {
  color: #374957;
  font-weight: 600;
}